<div class="d-flex justify-content-center my-2 pt-5 align-items-center">
  <div class="card">
    <h3 class="text-center pb-2 pt-4">註冊</h3>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control login-form" %>
        </div>
      
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "form-control login-form" %>

          <% if @minimum_password_length %>
          <small> (<%= @minimum_password_length %> characters minimum)</small>
          <% end %>
        </div>
      
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password", class: "form-control login-form" %>
        </div>
    
    
        <div class="form-group d-flex justify-content-center">
          <%= f.submit "註冊", class: "btn btn-lg btn-login-submit login_width py-2" %>
        </div>
      <% end %>
    </div>

    <div class="card-footer text-center pt-1 pb-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>