<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h2>Sign up</h2>
      </div>
      
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="field input-group form-group">
            <%#= f.label :email %><br />
            <div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
          </div>
        
          <div class="field input-group form-group">
            <%#= f.label :password %>
            <div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>

            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          </div>
        
          <div class="field input-group form-group">
            <%#= f.label :password_confirmation %><br />
            <div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
          </div>
      
      
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </div>

      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
