<div class="d-flex justify-content-center min-vh-100 align-items-center">
  <div class="card">
    <h2 class="text-center py-2">Sign up</h2>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
        </div>
      
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>

          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
        </div>
    
    
        <div class="actions d-flex justify-content-center">
          <%= f.submit "Sign up", class: "badge-pill px-5 py-2 path-color" %>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>