<div class="container">
  <h1 class="py-4">編輯</h1>

  <%= form_for @task, url: project_task_path(@task) do |f|%>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :project %>
      <%= f.collection_select :project_id, current_user.projects, :id, :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :expect_tictacs %>
      <%= f.number_field :expect_tictacs, class: 'form-control',min: 0  %>
    </div>
    <div class="form-group">
      <%= f.label :tag_items %>
      <select name="task[tag_items][]" class='form-control tag-select2' multiple='multiple'>
        <%= options_for_select(f.object.tag_items, f.object.tag_items) %>
      </select>
      
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :date %>
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        <%= f.text_field( :date, class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"} ) %>
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
        </div>
      </div>
    </div>
    <%= f.submit :Submit, class: "badge-pill p-2 path-color", value: "Submit" %>
  <% end %>
</div>
