<h1>任務列表</h1>
  <% if user_signed_in? %>
    <%= link_to "新增任務", new_task_path %>
    <ul>
      <% @tasks.each do |task| %>
      <div>
        <%= link_to tictacs_path(task_id: task.id), method: 'post' do %>
          <i class="far fa-play-circle"></i>
        <% end %>
        <%= link_to task.task_name, task_path(task.id) %>
        <%= task.tomato_num %>
        <%=display_tag task.tag_items %>
        <%= link_to '編輯', edit_task_path(task.id) %>
        <%= 
          link_to '刪除', 
          task_path(task.id),
          method:'delete',
          data: {confirm: '真的要刪除喵?'} 
        %>
        </div>
      <% end %>   
    </ul>   
  <% else %>
    <%= link_to "新增任務", new_user_session_path %>
  <% end %>