<div class="container">
  <h1 class="py-3">Task List</h1>
  <% if user_signed_in? %>
    <div class="my-2">
      <%= link_to "New Task", new_task_path, class: "badge-pill p-2 path-color" %>
      <%= link_to 'Projects', projects_path, class: "badge-pill p-2 path-color" %>
    </div>
    <div class="row p-2 text-center">
      <div class="col-1"></div>
      <div class="col-2">Project Name</div>
      <div class="col-2">Task Name</div>
      <div class="col-2">Tomato number</div>
      <div class="col-3">Tag</div>
      <div class="col-2">Action</div>
    </div>
    <div data-controller="drag" data-drag-url="/tasks/:id/drag" class="text-center">
      <% @tasks.order(position: :asc).each do |task| %>
        <div class="row p-2 task-hover" data-id="<%= task.id %>">
          <div class="col-1">
            <%= link_to tictacs_path do %>
              <i class="far fa-play-circle"></i>
            <% end %>
          </div>
          <div class="col-2"><%= task.project.project_name %></div>
          <div class="col-2"><%= link_to task.task_name, task_path(task.id) %></div>
          <div class="col-2"><%= task.tomato_num %></div>
          <div class="col-3"><%= display_tag task.tag_items %></div>
          <div class="col-1"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_task_path(task.id) %></div>
          <div class="col-1"><%= 
            link_to '<i class="fas fa-trash-alt"></i>'.html_safe, 
            task_path(task.id),
            method:'delete',
            data: {confirm: '真的要刪除喵?'} 
          %></div>
        </div>
      <% end %> 
    </div>
  <% else %>
    <%= link_to "New Task", new_user_session_path %>
  <% end %>
</div>