<h1>新增任務</h1>
<%= form_for(@task) do |f|%>
    <div>
        <%= f.label :task_name %>
        <%= f.text_field :task_name %>
    </div>
    <div>
        <%= f.label :tomato_num %>
        <%= f.number_field :tomato_num %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.label :task_date %>
        <%= f.text_field :task_date %>
    </div>
    <%= f.submit %>
<% end %>