<div class="container">
  <h1 class="py-4">新增任務</h1>
 
  <%= form_for @task, url: project_tasks_path do |f| %>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message|%>
        <% end %>
      </ul>
    <% end %>
    <input type="hidden"  value=<%= params[:project_id] %> id= "task_project_id" name= "task[project_id]">

    <div class="field form-group">
      <%= f.label :task_name %>
      <%= f.text_field :task_name, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :tomato_num %>
      <%= f.number_field :tomato_num, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :tag_items %>
      <select name="task[tag_items][]" class='form-control tag-select2' multiple='multiple'>
        <%= options_for_select(f.object.tag_items, f.object.tag_items) %>
      </select>
      
    </div>
    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :task_date %>
      <%= f.text_field :task_date, class: 'form-control' %>
    </div>
    <%= f.submit :Submit, class: "btn btn-primary" %>
  <% end %>
</div>