<div class="container">
  <table class="table table-borderless table-hover w-auto">
    <tr>
      <th>任務</th>
      <td><%= @task.task_name %></td>
    </tr>
    <tr>
      <th>所屬專案</th>
      <td><%= @task.project.project_name %></td>
    </tr>
    <tr>
      <th>預期番茄數</th>
      <td><%= @task.tomato_num %></td>
    </tr>
    <tr>
      <th>已完成番茄數</th>
      <td><%= @finished_tictac %></td>
    </tr>
    <tr>
      <th>已完成取消番茄數</th>
      <td><%= @finished_tictac %></td>
    </tr>
    <tr>
      <th>Tags</th>
      <td><%= display_tag @task.tag_items %></td>
    </tr>
    <tr>
      <th>期限</th>
      <td><%= @task.task_date %></td>
    </tr>
    <tr>
      <th>填寫備註</th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <td>
        <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_project_task_path(@task.project_id, @task.id), class: "px-2" %>
        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, project_task_path(@task.project_id, @task.id), method:'delete', data: {confirm: '真的要刪除喵?'}, class: "px-2" %>
      </td>
    </tr>
  </table> 
</div>
