<div class="container trello-list-select" data-controller="trelloapi"> 
  <%= form_tag({controller: "trelloapi", action: "import_assigned_cards"}, method: "post") do %>
    <ul>
      <% @lists.each do |list| %>
        <li>
          <%= check_box_tag list.values_at("id"), list.values_at("name"),nil,:name => list.values_at("name"), "data-target"=>"trelloapi.select_assigned_cards",class:"select_list" %>
          <%= list.values_at("name").join %>
        </li>
      <% end %>
    </ul>
    <%= @assigned_cards%>
    <%= submit_tag "建立", class: "btn-login-submit submit-radius btn py-1 px-3 my-2"  %>
  <% end %>
</div>