<% if user_signed_in? %>
  <div class="start_timer d-flex">
    <%= link_to tictacs_path, class: "start_icon" do %>
      <i class="far fa-play-circle"></i>
      <span>開始番茄鐘</span>
    <% end %>
  </div>
<% end %>  
<section class="left-nav">
  <div class="project_group">
    <div class="todo-container">

      <div class="d-flex align-items-center px-3 py-3">
        <i class="fas fa-sun mr-2"></i>
        <p class="mb-0"><%= link_to "今天", root_path  %></p>
        <div class="ml-auto">
          <small class="project_time"><%= @expect_time %>h</small>
          <small class="project_time"><%= @undo_tasks %></small>
        </div>
      </div>

      <div class="d-flex align-items-center px-3 py-3">
        <i class="fas fa-list mr-2"></i>
        <p class="mb-0"><%= link_to "待辦事項", todo_home_index_path %></p>
        <div class="ml-auto">
          <small class="project_time">123h</small>
          <small class="project_time">0</small>
        </div>
      </div>

    </div>

  <span class="divider"></span>
  <div class="project-container">
    <% if user_signed_in? %>
      <% @projects.order(id: :desc).each do |project| %>
        <div class="d-flex align-items-center px-3 py-3"> 
          <div class="mr-2" id="project_cover" style="background-color:<%= project.cover %>"s>
          </div>
          <div class="project_name">
            <%= link_to project.title, project_path(project) %>
          </div>
          <div class="btn-group">
            <p class="pr-2 drop-btn btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </p>
            <div class="dropdown-menu">
              <%= link_to edit_project_path(project), class:'dropdown-item' do %>
                <i class="fas fa-pencil-alt"></i><span class="pl-3">編輯</span>
              <% end %>
              <%= link_to project, method: :delete, data: { confirm: "刪除專案後，該專案相關的資料將會消失，確定要刪除嗎？" }, class:'dropdown-item' do %>
                <i class="fas fa-trash-alt"></i><span class="pl-3">刪除</span>
              <% end %>
            </div>
          </div>
          <div class="ml-auto">
            <small class="project_time"><%= expect_time(project) %>h</small>
            <small class="project_time"><%= project.tasks.doing.count %></small>
          </div>
        </div>               
      <% end %>
    <% end %>
  </div>
  <div>
    <%= link_to new_project_path, class:"add_project d-flex justify-content-center w-100 p-2" do %>
      <div class="mr-2"><i class="fas fa-plus"></i></div><span>新建專案</span>
    <% end %>
  </div>

</section>