<div class="start_timer">
  <%= link_to tictacs_path, class: "start_icon" do %>
    <i class="far fa-play-circle"></i>
    <span>開始番茄鐘</span>
  <% end %>
</div>
  
<section class="left-nav">
  <div class="project_group">
    <div class="todo-container">

      <div class="todo-list">
        <div class="icon">
          <i class="fas fa-sun"></i>
        </div>
        <p class="title"><%= link_to "今天", root_path  %></p>
        <small class="project_time">666h</small>
      </div>

      <div class="todo-list">
        <div class="icon">
          <i class="fas fa-list"></i>
        </div>
        <p class="title">待辦事項</p>
        <small class="project_time">123h</small>
      </div>

    </div>

  <span class="divider"></span>
  <div class="project-container">
  <% if user_signed_in? %>
      <% @projects.order(id: :desc).each do |project| %>
        <div class="project-list"> 
          <div class="project_cover">
            <div id="project_cover" class="project_color" style="background-color:<%= project.project_cover %>"></div>
          </div>
          <div class="project_name">
            <%= link_to project.project_name, project_path(project) %>
          </div>
          <div class="btn-group">
            <p class="pr-2 drop-btn btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </p>
            <div class="dropdown-menu">
              <%= link_to edit_project_path(project), class:'dropdown-item' do %>
                <i class="fas fa-pencil-alt"></i><span class="pl-3">編輯</span>
              <% end %>
              <%= link_to project, method: :delete, data: { confirm: "刪除專案後，該專案相關的資料將會消失，確定要刪除嗎？" }, class:'dropdown-item' do %>
                <i class="fas fa-trash-alt"></i><span class="pl-3">刪除</span>
              <% end %>
            </div>
          </div>
          <small class="project_time">100h</small>
        </div>               
      <% end %>
    <% end %>
  </div>
  <div>
    <%= link_to new_project_path, class:"add_project" do %>
      <div class="plus_icon"><i class="fas fa-plus"></i></div><span>新建專案</span>
    <% end %>
  </div>

</section>