  <div class="start_timer d-flex">
    <%= link_to tictacs_path, class: "start_icon" do %>
      <div></div>
    <% end %>
  </div>

<section class="left-nav collapse show" id="collapseNav">
  <div class="project_group">
    <div class="todo-container">

      <div class="d-flex align-items-center py-2 mx-4">
        <i class="fas fa-sun mx-1"></i>
        <div class="mb-0 mx-1"><%= link_to "今天", root_path  %></div>
        <div class="ml-auto d-flex">
          <small class="project_time"><%= @expect_time %>h</small>
          <small class="project_time pl-2"><%= @undo_tasks %></small>
        </div>
      </div>

      <div class="d-flex align-items-center py-2 mx-4">
        <i class="fas fa-list mx-1"></i>
        <div class="mb-0 mx-1"><%= link_to "待辦事項", todo_home_index_path %></div>
        <div class="ml-auto d-flex">
          <small class="project_time"><%= @todo_expect_time %>h</small>
          <small class="project_time pl-2"><%= @left_todo_undo_tasks %></small>
        </div>
      </div>
    </div>

  <span class="divider"></span>
  <div class="project-container">

      <% @projects.order(id: :desc).each do |project| %>
        <div class="d-flex align-items-center mx-4 py-1 justify-content-between"> 
          <div class="d-flex align-items-center">
            <div class="mx-1" id="project_cover" style="background-color:<%= project.cover %>">
            </div>
            <div class="project_name">
              <%= link_to project.title, project_path(project) %>
            </div>
          </div>
          <div class="btn-group align-items-center">
            <p class="pr-2 drop-btn btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </p>
            <div class="dropdown-menu">
              <%= link_to edit_project_path(project), class:'dropdown-item' do %>
                <i class="fas fa-pencil-alt"></i><span class="pl-3">編輯</span>
              <% end %>
              <%= link_to project, method: :delete, data: { confirm: "刪除專案後，該專案相關的資料將會消失，確定要刪除嗎？" }, class:'dropdown-item' do %>
                <i class="fas fa-trash-alt"></i><span class="pl-3">刪除</span>
              <% end %>
            </div>
            <div class="d-flex">
              <small class="project_time"><%= expect_time(project) %>h</small>
              <small class="project_time pl-2"><%= project.tasks.doing.count %></small>
            </div>
          </div>
        </div>               
      <% end %>

  </div>
  <div>
    <%= link_to new_project_path, class:"add_project d-flex justify-content-center w-100 ", data: { toggle: "modal", target: "#addProject" } do %>
      <div class="mr-2"><i class="fas fa-plus"></i></div><span>新建專案</span>
    <% end %>
  </div>

</section>
<div class="modal fade" id="addProject" tabindex="0" role="dialog" aria-labelledby="addProjectTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectTitle">新建專案</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_for Project.new, url: projects_path, data:{controller: 'project'}, remote: true  do |f| %>
          <div class="form-group">
            <%= f.label :cover %>
            <%= color_field(:project, :cover) %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, data: {action: "keydown->project#submit", target: "project.title"} %>
          </div>
          <%= f.submit "建立", class: "badge-pill p-2 path-color" %>
          <%= link_to_if(current_user.trello_token != nil, "從Trello匯入專案", select_board_trelloapi_index_path,class: "badge-pill p-2 path-color text-dark m-4") do
              link_to "從Trello匯入專案", trelloapi_index_path, class: "badge-pill p-2 path-color text-dark m-4" 
            end 
          %>
        <% end %> 
      </div>
    </div>
  </div>
</div>


