<nav class="navbar navbar-expand-lg navname">
    <h1 class="navbar-brand mb-0 h1"> 
      <%= link_to root_path do %>
        <span class="logo">
        </span>
      <% end %>
    </h1>
  <button class="btn project-btn" type="button" data-toggle="collapse" data-target="#collapseNav" aria-expanded="false" aria-controls="collapseNav">
    專案列表
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars nav-hamber"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav align-items-center text-center">
    <% if user_signed_in? %>
      <li class="nav-item active mr-2">
        <i class="fas fa-cog" data-toggle="modal" data-target="#timeSetting"></i>
      </li>
      <li class="nav-item active pl-2">
        <%= link_to charts_path do %>
          <i class="far fa-chart-bar"></i><span class="nav-font pl-1">圖表紀錄</span>
        <% end %>
      </li>
      <li class="nav-item pl-3">
        <%= link_to list_tictacs_path, class: "pl-2" do %>
          <i class="fas fa-clipboard-list"></i><span class="nav-font pl-1">番茄鐘列表</span>
        <% end %>
      </li>
      <li class="nav-item pl-2">
        <div class="dropdown">
          <button class="btn  dropdown-toggle nav-href" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><%= link_to "編輯會員資料", edit_user_registration_path, class: 'nav-href' %></button>
            <% if current_user.trello_token == nil%>
              <button class="dropdown-item" type="button"><%= link_to "登入trello", trelloapi_index_path, class: 'nav-href'%></button>
            <% else %>
              <button class="dropdown-item" type="button" disabled><span class="nav-href">已登入Trello</span></button>
            <% end %>
            <button class="dropdown-item" type="button"><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'nav-href' %></button>
          </div>
        </div>
      </li>
    <% else %>
      <li class="nav-item pl-2">
        <%= link_to '登入 / 註冊', new_user_session_path %>
      </li>
    <% end %>
  </div>
</nav>

<div class="modal fade" id="timeSetting" tabindex="0" role="dialog" aria-labelledby="forTimeSetting" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forTimeSetting">編輯番茄工作時間</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @user, url: time_setting_api_v1_user_path(@user.id), method: 'PATCH' do |f| %>
          <div class="form-group">        
            <%= f.label :time_setting %>
            <%= f.select :time_setting, User.time_settings.keys, {}%>
          </div>
          <%= f.submit "儲存", class: "badge-pill p-2 path-color" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#modal').modal('toggle')
</script>