<div class="container-fluid info-contain">
    <div class="row">
      <div class="col-5">
        <div class="tomato-garden mt-3">
          <h3>番茄生存日記</h3>
          <div class="plant_bg">
            <% if @tictacs.count < 2 %>
              <%= image_pack_tag 'tomato_first.png', class:"tomato_first" %>
            <% elsif @tictacs.count >= 2 && @tictacs.count < 4 %>
              <%= image_pack_tag 'tomato_sec.png', class:"tomato_sec" %>
            <% elsif @tictacs.count >= 4 && @tictacs.count < 6 %>
              <%= image_pack_tag 'tomato_third.png', class:"tomato_third" %>
            <% else %>
              <%= image_pack_tag 'tomato_forth.png', class:"tomato_forth" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="information mt-3">
          <h3>個人資訊</h3>
          <div class="info-list">
            <ul>
              <li class="d-flex"><span class="info-trello">Trello</span><p>今天有 <span>2</span> 個指定任務</p></li>
              <li class="d-flex"><span class="info-trello">Trello</span><p>今天有 <span>2</span> 個指定任務</p></li>
            </ul>
          </div>
          <span class="divider"></span>
          <div class="d-flex flex-wrap">
            <div class="col-6 my-2">
              <div class="data-list">
                <p>預計時間</p>
                <span><%= @expect_time %></span>
                <small>小時</small>
              </div>
            </div>
            <div class="col-6 my-2">
              <div class="data-list">
                <p>未完成任務</p>
                <span><%= @undo_today_tasks.count %></span>
                <small>個</small>
              </div>
            </div>
            <div class="col-6 my-2">
              <div class="data-list">
                <p>收集番茄</p>
                <span><%= @tictacs.count %></span>
                <small>個</small>
              </div>
            </div>
            <div class="col-6 my-2">
              <div class="data-list">
                <p>已完成任務</p>
                <span><%= @done_today_tasks.count %></span>
                <small>個</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="project_cover d-flex align-items-center pl-3 my-3">
  <h2 class="pt-2 pb-1 project-title"> <i class="fas fa-sun sun"></i> 今天</h2>
</div>

<%= form_for @task, url: today_task_tasks_path, data:{controller: 'task'}, method: 'post' do |f| %>
  <div class="add_task">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><span class="icon-circle ml-3"><i class="fas fa-plus"></i></span></span>
      </div>
      <%= f.text_field :title, class: 'form-control', placeholder: "建立任務給自己一個目標吧 ! ", data: {action: "keydown->task#submit", target: "task.title"} %>
      <input type="hidden" value=<%= current_user.projects.first.id %> id= "task_project_id" name= "task[project_id]">
      <div class="input-group-append btn-submit">
        <%= f.submit "送出", class: "btn" %>
      </div>
    </div>
  <% end %>

<div class="project_task_container mx-3 mt-3 mb-2 pt-3">
    <div data-controller="drag" data-drag-url="/tasks/:id/drag">
      <% @undo_today_tasks.each do |task| %>
        <div class="p-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
          <div class="d-flex align-items-center">
            <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
              <i class="far fa-circle"></i>
            <% end %>
            <%= link_to task_tictac_path(task_id: task.id), class: "ml-3 mr-2 play-icon" do %>
              <i class="far fa-play-circle"></i>
            <% end %>
          </div>
          <div class="d-flex align-items-center text-center">
            <span class="ml-3 mr-2 task-project"><%= task.project.title %></span>
          </div>
          <div class="d-flex align-items-center">
            <%= link_to task.title, project_task_path(task.project_id, task.id), class: "list-font mx-3" %>
          </div>
          <div class="tictac-icon d-flex ml-auto">
              <% if task.expect_tictacs? %>
                <div class="col-1 d-flex align-items-center"  title="預期時鐘：<%= task.expect_tictacs %>">
                  <img src='/expect_tictac.png' class='task_tictac'>
                  <small><%= task.expect_tictacs %></small>
                </div>
              <% else %>
                <div class="col-1 d-flex align-items-center"  title="預期時鐘：0">
                  <img src='/expect_tictac.png' class='task_tictac'>
                  <small>0</small>
                </div>
              <% end %>
              <div class="col-1 d-flex align-items-center"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
                <img src='/finish_tictac.png' class='task_tictac'>
                <small><%= task.tictacs.finished.count %></small>
              </div>
              <div class="col-1 d-flex align-items-center"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
                <img src='/cancel_tictac.png' class='task_tictac'>
                <small><%= task.tictacs.cancelled.count %></small>
              </div>
              <div class="col-3 d-flex align-items-center">
                <%= display_tag task.tag_items %>
              </div>
              <div class="col-1 d-flex align-items-center">
                <%= link_to edit_project_task_path(task.project_id, task.id), class: "mx-1" do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>  
                <%= link_to project_task_path(task.project_id, task.id), class: "mx-1", method: 'delete', data: {confirm: '真的要刪除喵?'} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
      </ul>

<div class="collapse" id="collapseTaskDone">
    <div class="project_task_container mx-3 mt-2 mb-4 task-done">
      <% @done_today_tasks.each do |task| %>
        <div class="p-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
          <div class="d-flex align-items-center">
            <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
              <i class="far fa-check-circle"></i>
            <% end %>
            <span class="play-icon ml-3"><i class="far fa-play-circle"></i></span>
          </div>
          <div class="d-flex align-items-center text-center">
            <span class="ml-3 mr-2 task-project"><%= task.project.title %></span>
          </div>
          <div class="d-flex align-items-center">
            <%= link_to task.title, project_task_path(task.project_id, task.id), class: "list-font mx-3" %>
          </div>
          <div class="tictac-icon d-flex ml-auto">
              <% if task.expect_tictacs? %>
                <div class="col-1 d-flex align-items-center"  title="預期時鐘：<%= task.expect_tictacs %>">
                  <img src='/expect_tictac.png' class='task_tictac'>
                  <small><%= task.expect_tictacs %></small>
                </div>
              <% else %>
                <div class="col-1 d-flex align-items-center"  title="預期時鐘：0">
                  <img src='/expect_tictac.png' class='task_tictac'>
                  <small>0</small>
                </div>
              <% end %>
              <div class="col-1 d-flex align-items-center"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
                <img src='/finish_tictac.png' class='task_tictac'>
                <small><%= task.tictacs.finished.count %></small>
              </div>
              <div class="col-1 d-flex align-items-center"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
                <img src='/cancel_tictac.png' class='task_tictac'>
                <small><%= task.tictacs.cancelled.count %></small>
              </div>
              <div class="col-3 d-flex align-items-center">
                <%= display_tag task.tag_items %>
              </div>
              <div class="col-1 d-flex align-items-center">
                <%= link_to edit_project_task_path(task.project_id, task.id), class: "mx-1" do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>  
                <%= link_to project_task_path(task.project_id, task.id), class: "mx-1", method: 'delete', data: {confirm: '真的要刪除喵?'} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $('#myCollapsible').collapse({
    toggle: false
  })
</script>