<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main_container">
    <div class="project_group">
      <div class="todo">
        <div class="icon">
          <i class="fas fa-sun"></i>
        </div>
        <div class="title">今天</div>
        <div class="total_time">666h</div>
      </div>
      <div class="todo">
        <div class="icon">
          <i class="fas fa-sun"></i>
        </div>
        <div class="title">待辦事項</div>
        <div class="total_time">123h</div>
      </div>
      <span class="divider"></span>
      <% @projects.each do |project| %>
        <div class="project"> 
          <div class="project_cover">
            <div id="project_cover" class="project_color" style="background-color: <%= project.project_cover %>"></div>
          </div>
          <div class="project_name"><%= project.project_name %></div>
          <div class="project_time">100h</div>
        </div>               
      <% end %>
    </div>
    <div class="task_group">
      <div class=" task_list">
        <div class="show_data">
          <div class="data">
            <div>收集番茄</div>
            <h1><%= @tictacs.count %></h1>
          </div>
          <div class="data">
            <div>待完成任務</div>
          </div>
          <div class="data">
            <div>已完成任務</div>
          </div>
        </div>
        <div class="add_task">
          <span>建立任務</span>
        </div>
        <% @projects.each do |project| %>
          <div class="project"> 
            <div class="project_cover">
              <div id="project_cover" class="project_color" style="background-color: <%= project.project_cover %>"></div>
            </div>
            <div class="project_name"><%= project.project_name %></div>
            <div class="project_time">100h</div>
          </div>
          <%= @tasks.find_by(project_id: project.id)%>             
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>