<div class="container-fluid info-contain">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="tomato-garden mt-3">
          <h3>番茄生存日記</h3>
          <div class="plant_bg">
            <% if @tictacs.count < 2 %>
              <%= image_pack_tag 'tomato_first.png', class:"tomato_first" %>
            <% elsif @tictacs.count >= 2 && @tictacs.count < 4 %>
              <%= image_pack_tag 'tomato_sec.png', class:"tomato_sec" %>
            <% elsif @tictacs.count >= 4 && @tictacs.count < 6 %>
              <%= image_pack_tag 'tomato_third.png', class:"tomato_third" %>
            <% else %>
              <%= image_pack_tag 'tomato_forth.png', class:"tomato_forth" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="information mt-3">
          <h3>個人資訊</h3>
          <div class="info-list">
            <ul>
              <li class="d-flex">
                <span class="info-trello text-center">今 日</span>
                <p>今天有 
                  <% if @today_new_tasks != 0 %>
                    <span><%= @today_new_tasks %></span>
                  <% else %>
                    <span>0</span>
                  <% end %>
                     個指定任務
                </p>
              </li>
              <li class="d-flex">
                <span class="info-trello text-center">Trello</span>
                <p>今天有 
                <% if @today_trello_new_task != 0 %>
                  <span><%= @today_trello_new_task %></span>
                <% else %>
                  <span>0</span>
                <% end %>
                 個指定任務
                </p>
              </li>
            </ul>
          </div>
          <span class="divider"></span>
          <div class="d-flex flex-wrap">
            <div class="col-6 my-2">
              <div class="data-list">
                <p>預計時間</p>
                <div>
                  <span><%= @expect_time %></span>
                  <small>小時</small>
                </div>
              </div>
            </div>
            <div class="col-6 my-2 ">
              <div class="data-list">
                <p>未完成任務</p>
                <div>
                  <span><%= @undo_today_tasks.count %></span>
                  <small>個</small>
                </div>
              </div>
            </div>
            <div class="col-6 my-2">
              <div class="data-list">
                <p>收集番茄</p>
                <div>
                  <span><%= @tictacs.count %></span>
                  <small>個</small>
                </div>
              </div>
            </div>
            <div class="col-6 my-2">
              <div class="data-list">
                <p>已完成任務</p>
                <div>
                  <span><%= @done_today_tasks.count %></span>
                  <small>個</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="project_cover d-flex align-items-center pl-3 my-3">
  <h2 class="pt-2 pb-1 project-title"> <i class="fas fa-sun sun"></i> 今天</h2>
</div>

<%= form_for @task, url: today_task_tasks_path, data:{controller: 'task'}, method: 'post' do |f| %>
  <div class="add_task">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><span class="icon-circle ml-3"><i class="fas fa-plus"></i></span></span>
      </div>
      <%= f.text_field :title, class: 'form-control', placeholder: "建立任務給自己一個目標吧 ! ", data: {action: "keydown->task#submit", target: "task.title"} %>
      <input type="hidden" value=<%= current_user.projects.first.id %> id= "task_project_id" name= "task[project_id]">
      <div class="input-group-append btn-submit">
        <%= f.submit "送出", class: "btn" %>
      </div>
    </div>
  </div>
<% end %>

<div class="project_task_container mx-3 mt-3 mb-2 pt-3">
  <div data-controller="drag" data-drag-url="/tasks/:id/drag">
    <% @undo_today_tasks.each do |task| %>
      <div class="px-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
        <div class="d-flex align-items-center">
          <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
            <i class="far fa-circle"></i>
          <% end %>
          <%= link_to task_tictac_path(task_id: task.id), class: "ml-3 mr-2 play-icon" do %>
            <i class="far fa-play-circle"></i>
          <% end %>
        </div>
        <div class="d-flex align-items-center text-center">
          <span class="ml-3 mr-2 task-project"><%= task.project.title %></span>
        </div>
        <div class="align-items-center font-container">
          <a href="#" class="list-font mx-3" data-target= "#taskEdit-<%= task.id %>" data-toggle= "modal"><%= task.title %></a>
          <div class="d-flex ml-1 tictac_icon">
            <% if task.expect_tictacs? %> 
              <div class="d-flex align-items-center ml-2"  title="預期時鐘：<%= task.expect_tictacs %>">
                <img src='/expect_tictac.png' class='task_tictac'>
                <small><%= task.expect_tictacs %></small>
              </div>
            <% else %>
              <div class="d-flex align-items-center ml-2" title="預期時鐘：0">
                <img src='/expect_tictac.png' class='task_tictac'>
                <small>0</small>
              </div>
            <% end %>
            <div class="d-flex align-items-center ml-2"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
              <img src='/finish_tictac.png' class='task_tictac'>
              <small><%= task.tictacs.finished.count %></small>
            </div>
            <div class="d-flex align-items-center ml-2"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
              <img src='/cancel_tictac.png' class='task_tictac'>
              <small><%= task.tictacs.cancelled.count %></small>
            </div>
          </div>
        </div>
        <div class="info-container">
          <% if task.trello_info %>
            <div class="d-flex align-items-center" data-controller="trelloapi">
              <select name=<%=task.id%> id=<%= task.trello_info.card_id%> data-action="change->trelloapi#change_list click->trelloapi#call_options" data-target="trelloapi.change_list">
                <option value=<%=task.trello_info.list_id%>%><%=task.trello_info.list_name%></option>
              </select>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal fade" id="taskEdit-<%=task.id%>" tabindex="0" role="dialog" aria-labelledby="forTaskEdit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-position" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="forTimeSetting">編輯任務</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_for task, url: project_task_path(task.project_id, task.id), method: 'PATCH', remote: true do |f| %>
                <div class="form-group">
                  <%= f.label :title, '任務名稱' %>
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :project, '專案' %>
                  <%= f.collection_select :project_id, current_user.projects, :id, :title, {:class => 'form-control' }%>
                </div>
                <div class="form-group">
                  <%= f.label :expect_tictacs, '預期番茄數' %>
                  <%= f.number_field :expect_tictacs, class: 'form-control',min: 0  %>
                </div>
                <div class="form-group">
                  <%= f.label :tag_items, '標籤' %>
                  <select name="task[tag_items][]" class='form-control tag-select2' multiple='multiple'>
                    <%= options_for_select(f.object.tag_items, f.object.tag_items) %>
                  </select>
                </div>
                <div class="form-group">
                  <%= f.label :description, '備註' %>
                  <%= f.text_area :description, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :date, '任務期限' %>
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <%= f.text_field( :date, class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"} ) %>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                  </div>
                </div>
                <%= f.submit "送出", class: "py-2 px-4 btn-login-submit submit-radius" %>
                <%= link_to project_task_path(task.project_id, task.id), class: "mx-4", method: 'delete', data: {confirm: '真的要刪除嗎?'} do %>
                  <span class="py-2 px-4 btn-danger submit-radius">刪除</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>  
  <button class="btn done-task ml-3" type="button" data-toggle="collapse" data-target="#collapseTaskDone" aria-expanded="false" aria-controls="collapseTaskDone">
    <i class="fas fa-caret-down"></i> 顯示已完成任務
  </button>
</div>

<div class="collapse" id="collapseTaskDone">
  <div class="project_task_container mx-3 mt-2 mb-4 task-done">
    <% @done_today_tasks.each do |task| %>
      <div class="px-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
        <div class="d-flex align-items-center">
          <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
            <i class="far fa-circle"></i>
          <% end %>
          <%= link_to task_tictac_path(task_id: task.id), class: "ml-3 mr-2 play-icon" do %>
            <i class="far fa-play-circle"></i>
          <% end %>
        </div>
        <div class="d-flex align-items-center text-center">
          <span class="ml-3 mr-2 task-project"><%= task.project.title %></span>
        </div>
        <div class="align-items-center font-container">
          <a href="#" class="list-font mx-3" data-target= "#taskEdit-<%= task.id %>" data-toggle= "modal"><%= task.title %></a>
          <div class="d-flex ml-1 tictac_icon">
            <% if task.expect_tictacs? %>  
              <div class="d-flex align-items-center ml-2" title="預期時鐘：<%= task.expect_tictacs %>">
                <img src='/expect_tictac.png' class='task_tictac'>
                <small><%= task.expect_tictacs %></small>
              </div>
            <% else %>
              <div class="d-flex align-items-center ml-2" title="預期時鐘：0">
                <img src='/expect_tictac.png' class='task_tictac'>
                <small>0</small>
              </div>
            <% end %>
            <div class="d-flex align-items-center ml-2" title="已完成時鐘：<%= task.tictacs.finished.count %>">
              <img src='/finish_tictac.png' class='task_tictac'>
              <small><%= task.tictacs.finished.count %></small>
            </div>
            <div class="d-flex align-items-center ml-2" title="取消時鐘：<%= task.tictacs.cancelled.count %>">
              <img src='/cancel_tictac.png' class='task_tictac'>
              <small><%= task.tictacs.cancelled.count %></small>
            </div>
          </div>
        </div>
        <div class="info-container">
          <% if task.trello_info %>
            <div class="d-flex align-items-center" data-controller="trelloapi">
              <select name=<%=task.id%> id=<%= task.trello_info.card_id%> data-action="change->trelloapi#change_list" data-target="trelloapi.change_list">
                <%= options_for_select(list_data_trans(task, current_user.trello_token), task.trello_info.list_id) %>
              </select>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal fade" id="taskEdit-<%=task.id%>" tabindex="0" role="dialog" aria-labelledby="forTaskEdit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-position" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="forTimeSetting">編輯任務</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_for task, url: project_task_path(task.project_id, task.id), method: 'PATCH', remote: true do |f| %>
                <div class="form-group">
                  <%= f.label :title, '任務名稱' %>
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :project, '專案' %>
                  <%= f.collection_select :project_id, current_user.projects, :id, :title, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :expect_tictacs, '預期番茄數' %>
                  <%= f.number_field :expect_tictacs, class: 'form-control',min: 0  %>
                </div>
                <div class="form-group">
                  <%= f.label :tag_items, '標籤' %>
                  <select name="task[tag_items][]" class='form-control tag-select2' multiple='multiple'>
                    <%= options_for_select(f.object.tag_items, f.object.tag_items) %>
                  </select>
                </div>
                <div class="form-group">
                  <%= f.label :description, '備註' %>
                  <%= f.text_area :description, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :date, '任務期限' %>
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <%= f.text_field( :date, class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"} ) %>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                  </div>
                </div>
                <%= f.submit "送出", class: "py-2 px-4 btn-login-submit submit-radius" %>
                <%= link_to project_task_path(task.project_id, task.id), class: "mx-4", method: 'delete', data: {confirm: '真的要刪除嗎?'} do %>
                  <span class="py-2 px-4 btn-danger submit-radius">刪除</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>