<div class="container">
  <%= current_user.tictacs.where(status: "finished").where('end_at BETWEEN ? AND ?', Time.zone.now.beginning_of_day, Time.zone.now.end_of_day).count %>
  <%= current_user.tictacs.where(status: "finished").where('end_at BETWEEN ? AND ?', Time.zone.now.beginning_of_week, Time.zone.now.end_of_week).count %>
  <%= current_user.tictacs.where(status: "finished").where('end_at BETWEEN ? AND ?', Time.zone.now.beginning_of_month, Time.zone.now.end_of_month).count %>
  


  <%= line_chart current_user.tictacs.group(:status).group_by_day(:end_at).count %>


  <%= column_chart current_user.tictacs.group(:status).group_by_day(:end_at).count %>
  <%= column_chart current_user.tictacs.group(:status).count %>
  <%= line_chart current_user.tictacs.group(:status).group_by_week(:end_at).count %>
  <%= column_chart current_user.tictacs.group(:status).group_by_week(:end_at).count %>
  <%= line_chart current_user.tictacs.group(:status).group_by_month(:end_at).count %>
  <%= column_chart current_user.tictacs.group(:status).group_by_month(:end_at).count %>

  <%= pie_chart current_user.tictacs.group(:status).count %>
</div>
