<div class="container">
  <div class="display_data d-flex text-center flex-wrap chartbg my-4 border">
    <h1 class="col-12 p-2 my-2">Dashboard</h1>
    <div class="day_data col-4 p-2">
      <h2>
        <%= @today_tictac %>
        <small class="text-muted">
          <img src='/finish_tictac.png' class='dashboard_tictac'>
          / Day
        </small>
      </h2>
    </div>
    <div class="day_data col-4 p-2">
      <h2>
        <%= @week_tictac %>
        <small class="text-muted">
          <img src='/finish_tictac.png' class='dashboard_tictac'>
          / Week
        </small>
      </h2>
    </div>
    <div class="month_data col-4 p-2">
      <h2>
        <%= @month_tictac %>
        <small class="text-muted">
          <img src='/finish_tictac.png' class='dashboard_tictac'>
          / Month
        </small>
      </h2>
    </div>
  </div>
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-day-tab" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day" aria-selected="true">Day</a>
      <a class="nav-item nav-link" id="nav-week-tab" data-toggle="tab" href="#nav-week" role="tab" aria-controls="nav-week" aria-selected="false">Week</a>
      <a class="nav-item nav-link" id="nav-month-tab" data-toggle="tab" href="#nav-month" role="tab" aria-controls="nav-month" aria-selected="false">Month</a>
    </div>
  </nav>
  <div class="tab-content border-right border-left border-bottom" id="nav-tabContent">
    <div class="tab-pane fade show active chartbg p-4" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
      <%= line_chart @daily_tictac %>
      <%= column_chart @daily_tictac %>
    </div>
    <div class="tab-pane fade chartbg p-4" id="nav-week" role="tabpanel" aria-labelledby="nav-week-tab">
      <%= line_chart @weekly_tictac %>
      <%= column_chart @weekly_tictac %>
    </div>
    <div class="tab-pane fade chartbg p-4" id="nav-month" role="tabpanel" aria-labelledby="nav-month-tab">
      <%= line_chart @monthly_tictac %>
      <%= column_chart @monthly_tictac %>
    </div>
  </div>

  <div class="chartbg p-4 border-right border-left border-bottom">
    <div class="btn-group">
      <a class="btn btn-outline-primary p-2 dropdown-toggle" data-toggle="dropdown" href="#">
        選擇一項標籤 <span class="caret"></span>
      </a>
      <% if @tags.any? == true %>
        <ul class="dropdown-menu">
          <% @tags.each do |tag| %>
            <li><a href="<%= '#'"tag-chart-#{tag.id}" %>" data-toggle="tab" class="dropdown-item" ><%= tag.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="tab" class="dropdown-item">沒有任何標籤</a></li>
        </ul>
      <% end %>
    </div>
  
    <div class="tab-content">
      <% if @tags.any? == true %>
        <div id="Home" class="tab-pane active">
          <h1><%= @tags.first.name %></h1>
          <%= column_chart @tags.first.tictacs.finished.group_by_day(:end_at).count %>
        </div>
        <% @tags.each do |tag| %>
          <div id="<%= "tag-chart-#{tag.id}" %>" class="tab-pane">
            <h1><%= tag.name %></h1>
            <%= column_chart tag.tictacs.finished.group_by_day(:end_at).count %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="chartbg p-4 border-right border-left border-bottom">
    <div class="btn-group">
      <a class="btn btn-outline-primary p-2 dropdown-toggle" data-toggle="dropdown" href="#">
        選擇一項任務 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if @tasks.any? == true %>
          <% @tasks.each do |task| %>
            <li><a href="<%= '#'"task-chart-#{task.id}" %>" data-toggle="tab" class="dropdown-item" ><%= task.title %></a></li>
          <% end %>
        <% else %>
          <li><a href="#" data-toggle="tab" class="dropdown-item">沒有任何任務</a></li>
        <% end %>
      </ul>
    </div>
  
    <div class="tab-content">
      <div id="Home" class="tab-pane active">
        <h1><%= @tasks.first.title %></h1>
        <%= column_chart @tasks.first.tictacs.finished.group_by_day(:end_at).count %>
      </div>
      <% @tasks.each do |task| %>
        <div id="<%= "task-chart-#{task.id}" %>" class="tab-pane">
          <h1><%= task.title %></h1>
          <%= column_chart task.tictacs.finished.group_by_day(:end_at).count %>
        </div>
      <% end %>
    </div>
  </div>
</div>