<div class="container">
  <div class="display_data d-flex flex-wrap my-4 border shadow bg-white rounded py-4">
    <div class="day_data col-4 p-2 d-flex justify-content-center">
      <h2><%= @today_tictac %></h2>
      <h3>
        <small class="text-muted">
          <img src='/finish_tictac.png' class='dashboard_tictac'>
          /day
        </small>
      </h3>
    </div>
    <div class="week_data col-4 p-2 d-flex justify-content-center">
      <h2><%= @week_tictac %></h2>
      <h3>
        <small class="text-muted">
          <img src='/finish_tictac.png' class='dashboard_tictac'>
          /week
        </small>
      </h3>
    </div>
    <div class="month_data col-4 p-2 d-flex justify-content-center">
      <h2><%= @month_tictac %></h2>
      <h3>
        <small class="text-muted">
          <img src='/finish_tictac.png' class='dashboard_tictac'>
          /month
        </small>
      </h3>
    </div>
  </div>

  <div class="mb-5 p-3 pt-5 justify-content-center d-flex border shadow bg-white rounded">
    <div id="heatmap" class="overflow-auto"></div>
  </div>
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-day-tab" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day" aria-selected="true">Day</a>
      <a class="nav-item nav-link" id="nav-week-tab" data-toggle="tab" href="#nav-week" role="tab" aria-controls="nav-week" aria-selected="false">Week</a>
      <a class="nav-item nav-link" id="nav-month-tab" data-toggle="tab" href="#nav-month" role="tab" aria-controls="nav-month" aria-selected="false">Month</a>
    </div>
  </nav>

  <div class="mb-5 tab-content border-right border-left border-bottom shadow bg-white rounded" id="nav-tabContent">
    <div class="tab-pane fade show active p-4" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
      <%= line_chart @daily_tictac %>
    </div>
    <div class="tab-pane fade p-4" id="nav-week" role="tabpanel" aria-labelledby="nav-week-tab">
      <%= line_chart @weekly_tictac %>
    </div>
    <div class="tab-pane fade p-4" id="nav-month" role="tabpanel" aria-labelledby="nav-month-tab">
      <%= line_chart @monthly_tictac %>
    </div>
  </div>

  <%# trello project chart %>
  <div class="mb-5 p-4 border shadow bg-white rounded">
    <div class="btn-group">
      <a class="btn btn-outline-primary p-2 dropdown-toggle" data-toggle="dropdown" href="#">
        選擇一個trello專案 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if @trello_projects.count != 0 %>
          <% @trello_projects.each do |project| %>
            <li><a href="<%= '#'"trello-project-chart-#{project.id}" %>" data-toggle="tab" class="dropdown-item" ><%= project.title %></a></li>
          <% end %>
        <% else %>
          <li><a href="#" data-toggle="tab" class="dropdown-item">沒有任何trello專案</a></li>
        <% end %>
      </ul>
    </div>

    <div class="tab-content">
      <% if @trello_projects.count != 0 %>
        <div class="tab-pane active">
          <h1 class="text-center mb-3"><%= @trello_projects.first.title %></h1>
          <div class="d-flex mr-2">
            <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
              <div class="col-6 d-flex flex-wrap align-items-center">
                <img src='/finish_tictac.png' class='big_tictac col-12'>
                <img src='/cancel_tictac.png' class='big_tictac col-12'>
              </div>
              <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
                <div class="col-12"><%= @first_trello_project_finished %></div>
                <div class="col-12"><%= @first_trello_project_cancelled %></div>
              </div>
            </div>
            <div class="col-6 d-flex p-3 shadow bg-white rounded">
              <%= pie_chart [["完成的番茄", @first_trello_project_finished], ["取消的番茄", @first_trello_project_cancelled]] %>
            </div>
          </div>
        </div>

        <% @trello_projects.each do |project| %>
          <% @trello_project_finished = 0 %>
          <% @trello_project_cancelled = 0 %>
          <% trello_board_projects = [] %>
          <% trello_board_projects = Project.where(trello_board_id: project.trello_board_id) %>
          <% trello_board_projects.each do |project| %>
            <% project.tasks.each do |task| %>
              <% @trello_project_finished += task.tictacs.finished.count %>        
              <% @trello_project_cancelled += task.tictacs.cancelled.count %>
            <% end %>
          <% end %>
          <div id="<%= "trello-project-chart-#{project.id}" %>" class="tab-pane">
            <h1 class="text-center mb-3"><%= project.title %></h1>
            <div class="d-flex mr-2">
              <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
                <div class="col-6 d-flex flex-wrap align-items-center">
                  <img src='/finish_tictac.png' class='big_tictac col-12'>
                  <img src='/cancel_tictac.png' class='big_tictac col-12'>
                </div>
                <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
                  <div class="col-12"><%= @trello_project_finished %></div>
                  <div class="col-12"><%= @trello_project_cancelled %></div>
                </div>
              </div>
              <div class="col-6 d-flex p-3 shadow bg-white rounded">
                <%= pie_chart [["完成的番茄", @trello_project_finished], ["取消的番茄", @trello_project_cancelled]] %>
              </div>
            </div>
          </div>
        <% end %> 
      <% end %>
    </div>
  </div>

  <div class="mb-5 p-4 border shadow bg-white rounded">
    <div class="btn-group">
      <a class="btn btn-outline-primary p-2 dropdown-toggle" data-toggle="dropdown" href="#">
        選擇一個專案 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if @projects.any? %>
          <% @projects.each do |project| %>
            <li><a href="<%= '#'"project-chart-#{project.id}" %>" data-toggle="tab" class="dropdown-item" ><%= project.title %></a></li>
          <% end %>
        <% else %>
          <li><a href="#" data-toggle="tab" class="dropdown-item">沒有任何專案</a></li>
        <% end %>
      </ul>
    </div>
  
    <div class="tab-content">
      <div class="tab-pane active">
        <h1 class="text-center mb-3"><%= @projects.first.title %></h1>
        <div class="d-flex mr-2">
          <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
            <div class="col-6 d-flex flex-wrap align-items-center">
              <img src='/finish_tictac.png' class='big_tictac col-12'>
              <img src='/cancel_tictac.png' class='big_tictac col-12'>
            </div>
            <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
              <div class="col-12"><%= @first_project_finished %></div>
              <div class="col-12"><%= @first_project_cancelled %></div>
            </div>
          </div>
          <div class="col-6 d-flex p-3 shadow bg-white rounded">
            <%= pie_chart [["完成的番茄", @first_project_finished], ["取消的番茄", @first_project_cancelled]] %>
          </div>
        </div>
      </div>

      <% @projects_arr.each do |project| %>
        <div id="<%= "project-chart-#{project[:id]}" %>" class="tab-pane">
          <h1 class="text-center mb-3"><%= project[:title] %></h1>
          <div class="d-flex mr-2">
            <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
              <div class="col-6 d-flex flex-wrap align-items-center">
                <img src='/finish_tictac.png' class='big_tictac col-12'>
                <img src='/cancel_tictac.png' class='big_tictac col-12'>
              </div>
              <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
                <div class="col-12"><%= project[:finished_tictacs] %></div>
                <div class="col-12"><%= project[:cancelled_tictacs] %></div>
              </div>
            </div>
            <div class="col-6 d-flex p-3 shadow bg-white rounded">
              <%= pie_chart [["完成的番茄", project[:finished_tictacs]], ["取消的番茄", project[:cancelled_tictacs]]] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-5 p-4 border shadow bg-white rounded">
    <div class="btn-group">
      <a class="btn btn-outline-primary p-2 dropdown-toggle" data-toggle="dropdown" href="#">
        選擇一項標籤 <span class="caret"></span>
      </a>
      <% if @tags.any? %>
        <ul class="dropdown-menu">
          <% @tags.each do |tag| %>
            <li><a href="<%= '#'"tag-chart-#{tag.id}" %>" data-toggle="tab" class="dropdown-item" ><%= tag.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="tab" class="dropdown-item">沒有任何標籤</a></li>
        </ul>
      <% end %>
    </div>
  
    <div class="tab-content">
      <% if @tags.any? %>
        <div class="tab-pane active">
          <h1 class="text-center"><%= @tags.first.name %></h1>
          <%= column_chart @first_tag_finish_tictacs %>
        </div>
        <% @tags_arr.each do |tag| %>
          <div id="<%= "tag-chart-#{tag[:id]}" %>" class="tab-pane">
            <h1 class="text-center"><%= tag[:name] %></h1>
            <%= column_chart tag[:tictac] %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-5 p-4 border shadow bg-white rounded">
    <div class="btn-group">
      <a class="btn btn-outline-primary p-2 dropdown-toggle" data-toggle="dropdown" href="#">
        選擇一項任務 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if @tasks.any? %>
          <% @tasks.each do |task| %>
            <li><a href="<%= '#'"task-chart-#{task.id}" %>" data-toggle="tab" class="dropdown-item" data-id="<%= task.id %>"><%= task.title %></a></li>
          <% end %>
        <% else %>
          <li><a href="#" data-toggle="tab" class="dropdown-item">沒有任何任務</a></li>
        <% end %>
      </ul>
    </div>

    <div class="tab-content">
      <div id="Home" class="tab-pane active">
        <% if @tasks.any? %>
          <h1 class="text-center"><%= @tasks.first.title %></h1>
          <%= column_chart @first_task_finished %>
        <% end %>
      </div>
      <% @tasks_arr.each do |task| %>
        <div id="<%= "task-chart-#{task[:id]}" %>" class="tab-pane">
          <h1 class="text-center"><%= task[:title] %></h1>
          <%= column_chart task[:tictac] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
