<div class="container">
  <div class="display_data d-flex text-center flex-wrap">
    <h1 class="col-12 p-2 my-2">Tictac Dashboard</h1>
    <h3 class="col-12 p-2 my-2 chartbg">完成番茄數量</h3>
    <div class="day_data col-4 p-2 my-2 chartbg">
      <h1>
        <%= @today_tictac %>
        <small class="text-muted">/ Day</small>
      </h1>
    </div>
    <div class="day_data col-4 p-2 my-2 chartbg">
      <h1>
        <%= @week_tictac %>
        <small class="text-muted">/ Week</small>
      </h1>
    </div>
    <div class="month_data col-4 p-2 my-2 chartbg">
      <h1>
        <%= @month_tictac %>
        <small class="text-muted">/ Month</small>
      </h1>
    </div>
  </div>
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-day-tab" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day" aria-selected="true">Day</a>
      <a class="nav-item nav-link" id="nav-week-tab" data-toggle="tab" href="#nav-week" role="tab" aria-controls="nav-week" aria-selected="false">Week</a>
      <a class="nav-item nav-link" id="nav-month-tab" data-toggle="tab" href="#nav-month" role="tab" aria-controls="nav-month" aria-selected="false">Month</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active chartbg p-4" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
      <%= line_chart @daily_tictac %>
      <%= column_chart @daily_tictac %>
    </div>
    <div class="tab-pane fade chartbg p-4" id="nav-week" role="tabpanel" aria-labelledby="nav-week-tab">
      <%= line_chart @weekly_tictac %>
      <%= column_chart @weekly_tictac %>
    </div>
    <div class="tab-pane fade chartbg p-4" id="nav-month" role="tabpanel" aria-labelledby="nav-month-tab">
      <%= line_chart @monthly_tictac %>
      <%= column_chart @monthly_tictac %>
    </div>
  </div>

  <div>
    <%= column_chart current_user.tictacs.group(:status).count %>
    <%= pie_chart current_user.tictacs.group(:status).count %>
  </div>
</div>
