<div class="container">
  <div class="display_data d-flex text-center flex-wrap">
    <h1 class="col-12 p-2 my-2">Tictac Dashboard</h1>
    <h3 class="col-12 p-2 my-2 chartbg">完成番茄數量</h3>
    <div class="day_data col-4 p-2 my-2 chartbg">
      <h1>
        <%= current_user.tictacs.where(status: "finished").where('end_at BETWEEN ? AND ?', Time.zone.now.beginning_of_day, Time.zone.now.end_of_day).count %>
        <small class="text-muted">/ Day</small>
      </h1>
    </div>
    <div class="day_data col-4 p-2 my-2 chartbg">
      <h1>
        <%= current_user.tictacs.where(status: "finished").where('end_at BETWEEN ? AND ?', Time.zone.now.beginning_of_week, Time.zone.now.end_of_week).count %>
        <small class="text-muted">/ Week</small>
      </h1>
    </div>
    <div class="month_data col-4 p-2 my-2 chartbg">
      <h1>
        <%= current_user.tictacs.where(status: "finished").where('end_at BETWEEN ? AND ?', Time.zone.now.beginning_of_month, Time.zone.now.end_of_month).count %>
        <small class="text-muted">/ Month</small>
      </h1>
    </div>
  </div>
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-day-tab" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day" aria-selected="true">Day</a>
      <a class="nav-item nav-link" id="nav-week-tab" data-toggle="tab" href="#nav-week" role="tab" aria-controls="nav-week" aria-selected="false">Week</a>
      <a class="nav-item nav-link" id="nav-month-tab" data-toggle="tab" href="#nav-month" role="tab" aria-controls="nav-month" aria-selected="false">Month</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active chartbg p-4" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
      <%= line_chart current_user.tictacs.group(:status).group_by_day(:end_at).count %>
      <%= column_chart current_user.tictacs.group(:status).group_by_day(:end_at).count %>
    </div>
    <div class="tab-pane fade chartbg p-4" id="nav-week" role="tabpanel" aria-labelledby="nav-week-tab">
      <%= line_chart current_user.tictacs.group(:status).group_by_week(:end_at).count %>
      <%= column_chart current_user.tictacs.group(:status).group_by_week(:end_at).count %>
    </div>
    <div class="tab-pane fade chartbg p-4" id="nav-month" role="tabpanel" aria-labelledby="nav-month-tab">
      <%= line_chart current_user.tictacs.group(:status).group_by_month(:end_at).count %>
      <%= column_chart current_user.tictacs.group(:status).group_by_month(:end_at).count %>
    </div>
  </div>

  <div>
    <%= column_chart current_user.tictacs.group(:status).count %>
    <%= pie_chart current_user.tictacs.group(:status).count %>
  </div>
</div>
