<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <ul>
      <% project.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :cover %>
    <%= color_field(:project, :cover) %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <%= f.submit :Submit, class: "badge-pill p-2 path-color", value: "Submit" %>
<% end %>
