<%= form_for(project) do |f| %>
  <div class="form-group">
    <%= f.label :cover %>
    <%= color_field(:project, :cover) %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <% if project.errors.any? %>
      <% project.errors.full_messages.each do |message|%>
        <div><%= message %></div> 
      <% end %>
    <% end %>
  </div>
  <%= f.submit :Submit, class: "badge-pill p-2 path-color", value: "Submit" %>
<% end %>
