<div class="container">
  <div class="my-5 p-4 border shadow bg-white rounded">
    <% if @project.trello_board_id != nil %>
      <h2 class="text-center mb-3"><%= @project.title %></h2>    
      <div class="d-flex mr-2">
        <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
          <div class="col-6 d-flex flex-wrap align-items-center">
            <img src='/finish_tictac.png' class='big_tictac col-12'>
            <img src='/cancel_tictac.png' class='big_tictac col-12'>
          </div>
          <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
            <div class="col-12"><%= @trello_project_finished %></div>
            <div class="col-12"><%= @trello_project_cancelled %></div>
          </div>
        </div>
        <div class="col-6 d-flex p-3 shadow bg-white rounded">
          <%= pie_chart [["完成的番茄", @trello_project_finished], ["取消的番茄", @trello_project_cancelled]], colors: ["#F87660", "#434343"] %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container table-container">
    <div class="row my-5 p-4 border shadow bg-white rounded justify-content-center">
      <div class="col-md-8 col-md-offset-2">
      <div class="d-flex justify-content-end">
        <a href="#" class="clear"><i class="fas fa-sync-alt"></i></a>
      </div>
        <table class="display table table-hover" id="projectTable" data-toggle="table" data-pagination="true" data-search="true" data-reset-search="true">
          <thead>
            <tr>
              <th scope="col" data-sortable="true" data-field="title">任務名稱</th>
              <th scope="col" data-sortable="true" data-field="finished" class="text-center">完成番茄數</th>
              <th scope="col" data-sortable="true" data-field="cancelled" class="text-center">取消番茄數</th>
            </tr>
          </thead>
          <tbody>
            <% @tasks_arr.each do |task| %>
              <tr>
                <td><%= task[0] %></td>
                <td class="text-center"><%= task[1] %></td>
                <td class="text-center"><%= task[2] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
