<div class="container">
  
  <%# trello project chart %>
  <div class="mb-5 p-4 border shadow bg-white rounded">
  

      <% if @project.trello_board_id != nil %>
        <h1 class="text-center mb-3"><%= @trello_projects.first.title %></h1>
        <div class="tab-pane active">
          
          <div class="d-flex mr-2">
            <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
              <div class="col-6 d-flex flex-wrap align-items-center">
                <img src='/finish_tictac.png' class='big_tictac col-12'>
                <img src='/cancel_tictac.png' class='big_tictac col-12'>
              </div>
              <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
                <div class="col-12"><%= @first_trello_project_finished %></div>
                <div class="col-12"><%= @first_trello_project_cancelled %></div>
              </div>
            </div>
            <div class="col-6 d-flex p-3 shadow bg-white rounded">
              <%= pie_chart [["完成的番茄", @first_trello_project_finished], ["取消的番茄", @first_trello_project_cancelled]] %>
            </div>
          </div>
        </div>
  
        <% @trello_projects.each do |project| %>
          <% @trello_project_finished = 0 %>
          <% @trello_project_cancelled = 0 %>
          <% trello_board_projects = [] %>
          <% trello_board_projects = Project.where(trello_board_id: project.trello_board_id) %>
          <% trello_board_projects.each do |project| %>
            <% project.tasks.each do |task| %>
              <% @trello_project_finished += task.tictacs.finished.count %>        
              <% @trello_project_cancelled += task.tictacs.cancelled.count %>
            <% end %>
          <% end %>
          <div id="<%= "trello-project-chart-#{project.id}" %>" class="tab-pane">
            <h1 class="text-center mb-3"><%= project.title %></h1>
            <div class="d-flex mr-2">
              <div class="col-6 text-center mr-2 d-flex shadow bg-white rounded">
                <div class="col-6 d-flex flex-wrap align-items-center">
                  <img src='/finish_tictac.png' class='big_tictac col-12'>
                  <img src='/cancel_tictac.png' class='big_tictac col-12'>
                </div>
                <div class="tictac_num col-6 d-flex flex-wrap align-items-center">
                  <div class="col-12"><%= @trello_project_finished %></div>
                  <div class="col-12"><%= @trello_project_cancelled %></div>
                </div>
              </div>
              <div class="col-6 d-flex p-3 shadow bg-white rounded">
                <%= pie_chart [["完成的番茄", @trello_project_finished], ["取消的番茄", @trello_project_cancelled]] %>
              </div>
            </div>
          </div>
        <% end %> 
      <% end %>

  </div>
</div>