<div class="container">
  <h1 class="py-3">Project List</h1>
  <% if user_signed_in? %>
   <div class="my-2">
      <%= link_to 'New Project', new_project_path, class: "badge-pill p-2 path-color" %>
      <%= link_to "Tasks", tasks_path, class: "badge-pill p-2 path-color" %>
   </div>
    <table class="table table-borderless table-hover w-auto">
      <thead>
        <tr>
          <th></th>
          <th>Project Name</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>   
        <% @projects.each do |project| %>
          <tr> 
            <td class="project_color"><div id="project_cover" class="project_color" style="background-color: <%=  project.project_cover %>;"></div></td>
            <td><%= project.project_name %></td>
            <td><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_project_path(project) %></td>
            <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>               
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= link_to "New Project", new_user_session_path %>
  <% end %>
</div>
