<div class="wrap">

  <div class="show-data">
    <div class="data">
      <h1><%= @tictacs.count %></h1>
      <p>收集番茄</p>
    </div>
    <div class="data">
      <h1><%= @uncoming_task.count %></h1>
      <p>待完成任務</p>
    </div>
    <div class="data">
      <h1><%= @finish_task.count %></h1>
      <p>已完成任務</p>
    </div>
  </div>
  
  <%= form_for @task, url: project_tasks_path(@project) do |f| %>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="add_task">
      <div class="input-group mb-3">
        <%= f.text_field :task_name, class: 'form-control', placeholder: " + 建立任務給自己一個目標吧 ! " %>
        <input type="hidden" value=<%= params[:id] %> id= "task_project_id" name= "task[project_id]">
        <div class="input-group-append">
          <%= f.submit "", class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <div class="project_cover d-flex align-items-center pl-3">
      <div id="project_cover" class="project_color" style="background-color:<%= @project.project_cover %>"></div>
      <h2 class="py-2 project-title"> <%= @project.project_name %> </h2>
    </div>
    <ul class="project_task_container">
      <div data-controller="drag" data-id="<%= @project.id %>" data-target="drag.project_id">
        <% @project.tasks.order(position: :asc).each do |task| %>
          <li class="row p-2 task-hover project-task-list my-2 d-flex" data-id="<%= task.id %>">
            <div class="col-1">
                <%= link_to task_tictac_path(task_id: task.id), class: "px-3" do %>
                  <i class="far fa-play-circle"></i>
                <% end %>
            </div>
            <div class="col-2">
              <%= link_to task.task_name, project_task_path(task.project_id, task.id), class: "list-font" %>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
              <%= task.tomato_num %>
            </div>
            <div class="col-3">
              <%= display_tag task.tag_items %>
            </div>
            <div class="col-1">
              <%= link_to edit_project_task_path(task.project_id, task.id) do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>  
            </div>
            <div class="col-1">
              <%= link_to project_task_path(task.project_id, task.id), method:'delete', data: {confirm: '真的要刪除喵?'} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>