<div class="wrap">


  <div class="show-data mx-3 my-3">
    <h3>任務資訊</h3>
    <div class="data-container d-flex">
      <div class="col-3">
        <div class="data">
          <p>預計時間</p>
          <span class="tomato-num"><%= @project_expect_time %></span>
          <small>小時</small>
        </div>
      </div>
      <div class="col-3">
        <div class="data">
          <p>待完成任務</p>
          <span class="doing-task-num"><%= @project_undo_tasks.count %></span>
          <small>個</small>
        </div>
      </div>
      <div class="col-3">
        <div class="data">
          <p>收集番茄</p>
          <span class="tomato-num"><%= @tictac_count %></span>
          <small>個</small>
        </div>
      </div>
      <div class="col-3">
        <div class="data">
          <p>已完成任務</p>
          <span class="done-data-num"><%= @project_done_tasks.count %></span>
          <small>個</small>
        </div>
      </div>
      </div>
  </div>

  <div class="project_cover d-flex align-items-center pl-3">
    <div id="project_cover" class="project_color" style="background-color:<%= @project.cover %>"></div>
    <h2 class="py-2 project-title"> <%= @project.title %> </h2>
  </div>
  
  <%= form_for @task, url: project_tasks_path(@project) do |f| %>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="add_task">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><span class="icon-circle ml-3"><i class="fas fa-plus"></i></span></span>
        </div>
        <%= f.text_field :title, class: 'form-control', placeholder: "建立任務給自己一個目標吧 ! " %>
        <input type="hidden" value=<%= params[:id] %> id= "task_project_id" name= "task[project_id]">
        <div class="input-group-append btn-submit">
          <%= f.submit "送出", class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="project_task_container mx-3 mt-4 mb-2 pt-2">
      <div data-controller="drag" data-drag-url="/tasks/:id/drag" data-id="<%= @project.id %>" data-target="drag.project_id">
        <% @project_undo_tasks.order(position: :asc).each do |task| %>
          <div class="p-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
            <div class="d-flex align-items-center">
              <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
                <i class="far fa-circle"></i>
              <% end %>
              <%= link_to task_tictac_path(task_id: task.id), class: "ml-3 mr-2 play-icon" do %>
                <i class="far fa-play-circle"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to task.title, project_task_path(task.project_id, task.id), class: "list-font mx-3" %>
            </div>
            <div class="tictac-icon d-flex ml-auto">
                <% if task.expect_tictacs? %>
                <div class="d-flex align-items-center ml-2"  title="預期時鐘：<%= task.expect_tictacs %>">
                    <img src='/expect_tictac.png' class='task_tictac'>
                    <small><%= task.expect_tictacs %></small>
                  </div>
                <% end %>
                <div class="d-flex align-items-center ml-2"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
                  <img src='/finish_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.finished.count %></small>
                </div>
                <div class="d-flex align-items-center ml-2"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
                  <img src='/cancel_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.cancelled.count %></small>
                </div>
            </div>
            <div class="d-flex align-items-center text-right tag-icon ml-4">
              <%= display_tag task.tag_items %>
            </div>
            <div class="d-flex align-items-center text-right delete-icon">
              <%= link_to edit_project_task_path(task.project_id, task.id), class: "mx-1" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>  
              <%= link_to project_task_path(task.project_id, task.id), class: "mx-4", method: 'delete', data: {confirm: '真的要刪除喵?'} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  </div>


  <div>  
    <button class="btn done-task ml-3" type="button" data-toggle="collapse" data-target="#collapseTaskDone" aria-expanded="false" aria-controls="collapseTaskDone">
      <i class="fas fa-caret-down"></i> 顯示已完成任務
    </button>
  </div>

  <div class="collapse" id="collapseTaskDone">
      <div class="project_task_container mx-3 mt-2 mb-4 task-done">
        <% @project_done_tasks.order(position: :asc).each do |task| %>
          <div class="p-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
            <div class="d-flex align-items-center">
              <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
                <i class="far fa-check-circle"></i>
              <% end %>
              <span class="play-icon ml-3"><i class="far fa-play-circle"></i></span>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to task.title, project_task_path(task.project_id, task.id), class: "list-font mx-3" %>
            </div>
            <div class="tictac-icon d-flex ml-auto">
                <% if task.expect_tictacs? %>
                <div class="d-flex align-items-center ml-2"  title="預期時鐘：<%= task.expect_tictacs %>">
                    <img src='/expect_tictac.png' class='task_tictac'>
                    <small><%= task.expect_tictacs %></small>
                  </div>
                <% end %>
                <div class="d-flex align-items-center ml-2"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
                  <img src='/finish_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.finished.count %></small>
                </div>
                <div class="d-flex align-items-center ml-2"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
                  <img src='/cancel_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.cancelled.count %></small>
                </div>
            </div>
            <div class="d-flex align-items-center text-right tag-icon ml-4">
              <%= display_tag task.tag_items %>
            </div>
            <div class="d-flex align-items-center text-right delete-icon">
              <%= link_to edit_project_task_path(task.project_id, task.id), class: "mx-1" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>  
              <%= link_to project_task_path(task.project_id, task.id), class: "mx-4", method: 'delete', data: {confirm: '真的要刪除喵?'} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
  $('.collapse').collapse('hide')
</script>
<<<<<<< HEAD
<<<<<<< HEAD
=======

=======
>>>>>>> datetimepicker problem
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h2 class="py-4"> <%= @project.project_name %> </h2>
    <%= link_to "新增任務", new_project_task_path(@project.id), class: "badge-pill p-2 path-color" %>
    <ul class="my-4">
      <div data-controller="drag" data-drag-url="/tasks/:id/drag">
        <% @project.tasks.each do |task| %>
          <div class="row p-2 task-hover" data-id="<%= task.id %>">
            <div class="col-2">
              <%= link_to task_tictac_path(task_id: task.id) do %>
                <i class="far fa-play-circle"></i>
              <% end %>
            </div>
            <div class="col-2"><%= task.project.project_name %></div>
            <div class="col-2"><%= link_to task.task_name, project_task_path(task.project_id, task.id) %></div>
            <div class="col-1"><%= task.tomato_num %></div>
            <div class="col-2"><%= display_tag task.tag_items %></div>
            <div class="col-1"><%= task.trello_status %></div>
            <div class="col-1"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_project_task_path(task.project_id, task.id) %></div>
            <div class="col-1"><%= 
              link_to '<i class="fas fa-trash-alt"></i>'.html_safe, 
              project_task_path(task.project_id, task.id),
              method:'delete',
              data: {confirm: '真的要刪除喵?'} 
            %></div>
          </div>
        <% end %>
    </ul>
  </div>
</body>
</html>
<<<<<<< HEAD
>>>>>>> datetimepicker problem
=======

>>>>>>> datetimepicker problem
