<div class="project-tasks-container">

  <div class="show-data mx-3 my-3">
    <h3>任務資訊</h3>
    <div class="data-container d-flex">
      <div class="col-3">
        <div class="data">
          <p>預計時間</p>
          <span class="tomato-num"><%= @project_expect_time %></span>
          <small>小時</small>
        </div>
      </div>
      <div class="col-3">
        <div class="data">
          <p>待完成任務</p>
          <span class="doing-task-num"><%= @project_undo_tasks.count %></span>
          <small>個</small>
        </div>
      </div>
      <div class="col-3">
        <div class="data">
          <p>收集番茄</p>
          <span class="tomato-num"><%= @tictac_count %></span>
          <small>個</small>
        </div>
      </div>
      <div class="col-3">
        <div class="data">
          <p>已完成任務</p>
          <span class="done-data-num"><%= @project_done_tasks.count %></span>
          <small>個</small>
        </div>
      </div>
      </div>
  </div>

<section id="app">

  <App project="<%= params[:id] %>"> 
  </App>

</section>

<%# 要對trello 欄位 %>
  <% @project_undo_tasks.order(position: :asc).each do |task| %>
          <div class="p-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
            <div class="d-flex align-items-center">
              <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
                <i class="far fa-circle"></i>
              <% end %>
              <%= link_to task_tictac_path(task_id: task.id), class: "ml-3 mr-2 play-icon" do %>
                <i class="far fa-play-circle"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to task.title, project_task_path(task.project_id, task.id), class: "list-font mx-3" %>
            </div>
            <% if task.trello_info %>
            <div class="d-flex align-items-center" data-controller="trelloapi">
              <select name=<%=task.id%> id=<%= task.trello_info.card_id%> data-action="change->trelloapi#change_list" data-target="trelloapi.change_list">
                <%= options_for_select(list_data_trans(task, current_user.trello_token), task.trello_info.list_id) %>
              </select>
            </div>
          <% end %>
            <div class="tictac-icon d-flex ml-auto">
                <% if task.expect_tictacs? %>
                <div class="d-flex align-items-center ml-2"  title="預期時鐘：<%= task.expect_tictacs %>">
                    <img src='/expect_tictac.png' class='task_tictac'>
                    <small><%= task.expect_tictacs %></small>
                  </div>
                <% end %>
                <div class="d-flex align-items-center ml-2"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
                  <img src='/finish_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.finished.count %></small>
                </div>
                <div class="d-flex align-items-center ml-2"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
                  <img src='/cancel_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.cancelled.count %></small>
                </div>
            </div>
            <div class="d-flex align-items-center text-right tag-icon ml-4">
              <%= display_tag task.tag_items %>
            </div>
            <div class="d-flex align-items-center text-right delete-icon">
              <%= link_to edit_project_task_path(task.project_id, task.id), class: "mx-1" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>  
              <%= link_to project_task_path(task.project_id, task.id), class: "mx-4", method: 'delete', data: {confirm: '真的要刪除喵?'} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
     <% end %>


  <div>  
    <button class="btn done-task ml-3" type="button" data-toggle="collapse" data-target="#collapseTaskDone" aria-expanded="false" aria-controls="collapseTaskDone">
      <i class="fas fa-caret-down"></i> 顯示已完成任務
    </button>
  </div>

  <div class="collapse" id="collapseTaskDone">
      <div class="project_task_container mx-3 mt-2 mb-4 task-done">
        <% @project_done_tasks.order(position: :asc).each do |task| %>
          <div class="p-2 task-hover project-task-list d-flex flex-nowrap" data-id="<%= task.id %>">
            <div class="d-flex align-items-center">
              <%= link_to toggle_status_project_task_path(task.project_id, task.id), method: 'patch', class: "pl-4 play-icon" do %>
                <i class="far fa-check-circle"></i>
              <% end %>
              <span class="play-icon ml-3"><i class="far fa-play-circle"></i></span>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to task.title, project_task_path(task.project_id, task.id), class: "list-font mx-3" %>
            </div>
            <div class="tictac-icon d-flex ml-auto">
                <% if task.expect_tictacs? %>
                  <div class="d-flex align-items-center ml-2"  title="預期時鐘：<%= task.expect_tictacs %>">
                    <img src='/expect_tictac.png' class='task_tictac'>
                    <small><%= task.expect_tictacs %></small>
                  </div>
                <% end %>
                <div class="d-flex align-items-center ml-2"  title="已完成時鐘：<%= task.tictacs.finished.count %>">
                  <img src='/finish_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.finished.count %></small>
                </div>
                <div class="d-flex align-items-center ml-2"  title="取消時鐘：<%= task.tictacs.cancelled.count %>">
                  <img src='/cancel_tictac.png' class='task_tictac'>
                  <small><%= task.tictacs.cancelled.count %></small>
                </div>
            </div>
            <div class="d-flex align-items-center text-right tag-icon ml-4">
              <%= display_tag task.tag_items %>
            </div>
            <div class="d-flex align-items-center text-right delete-icon">
              <%= link_to edit_project_task_path(task.project_id, task.id), class: "mx-1" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>  
              <%= link_to project_task_path(task.project_id, task.id), class: "mx-4", method: 'delete', data: {confirm: '真的要刪除喵?'} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
$('.collapse').collapse('show')
</script>




