<div class="container">
  <h2 class="py-4"> <%= @project.project_name %> </h2>
  <%= link_to "新增任務", new_project_task_path(@project.id), class: "badge-pill p-2 path-color" %>
  <div class="row p-2 text-center">
    <div class="col-1"></div>
    <div class="col-2">Project Name</div>
    <div class="col-2">Task Name</div>
    <div class="col-2">Tomato number</div>
    <div class="col-3">Tag</div>
    <div class="col-2">Action</div>
  </div>
  <div data-controller="drag" data-drag-url="/tasks/:id/drag" class="text-center">
    <% @project.tasks.each do |task| %>
      <div class="row p-2 task-hover" data-id="<%= task.id %>">
        <div class="col-1">
          <%= link_to task_tictac_path(task_id: task.id) do %>
            <i class="far fa-play-circle"></i>
          <% end %>
        </div>
        <div class="col-2">
          <%= task.project.project_name %>
        </div>
        <div class="col-2">
          <%= link_to task.task_name, project_task_path(task.project_id, task.id) %>
        </div>
        <div class="col-2">
          <%= task.tomato_num %>
        </div>
        <div class="col-3">
          <%= display_tag task.tag_items %>
        </div>
        <div class="col-1">
          <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_project_task_path(task.project_id, task.id) %>
        </div>
        <div class="col-1">
          <%= 
            link_to '<i class="fas fa-trash-alt"></i>'.html_safe, 
            project_task_path(task.project_id, task.id),
            method:'delete',
            data: {confirm: '真的要刪除喵?'} 
          %>
        </div>
      </div>
    <% end %>

</div>