<div class="container">
  <h1 class="py-4">編輯</h1>

  <%= form_for @tictac do |f|%>
    <% if @tictac.errors.any? %>
      <ul>
        <% @tictac.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :task %>
      <%= f.collection_select :task_id, current_user.tasks, :id, :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :reason %>
      <%= f.text_field :reason, class: 'form-control' %>
    </div>
    <%= f.submit :Submit, class: "badge-pill p-2 path-color", value: "Submit" %>
  <% end %>
</div>
