<div class="timer_controls" data-controller="tictacs">
  <div class="clock d-flex justify-content-center align-items-center">
    <div class="display">
      <h1 class="display_time_left"></h1>
    </div>
    
    <%= link_to tictacs_path, method: 'post', class: 'startbtn', data: { time: '25', action: 'click->tictacs#start' }, remote: true do %>
      <i class="far fa-play-circle fa-8x startbtn"></i>
    <% end %>

    <%= link_to cancel_tictac_path(@tictac), method: 'patch', class: 'stopbtn', data: { action: 'click->tictacs#stop' }, remote: true do  %>
      <I class="far fa-stop-circle fa-8x stopbtn"></I>
    <% end %>

    <%= link_to finish_tictac_path(@tictac), method: 'patch', remote: true do  %>
      STOP
    <% end %>

    <a class='startbtn' data-time="25" data-action="click->tictacs#start">
      <i class="far fa-play-circle fa-8x startbtn"></i>
    <a>

    <a href='#' class="stopbtn d-none" data-action="click->tictacs#stop ">
      <i class="far fa-stop-circle fa-8x stopbtn"></i>
    </a>

    <a href='#' class="relaxbtn d-none" data-action="click->tictacs#relax" data-target="">
      <i class="far fa-play-circle fa-8x relaxbtn"></i>
    </a>

    <%# API測試controller %>
    <div class="testtt" data-controller="text">
      <a href="#" data-action="text#startBtn" data-target="text.resp">Start text</a>
    </div>

    <div class="testtt" data-controller="text">
      <a href="#" data-action="text#cancelBtn" data-target="text.resp" data-id="<%= @tictac.id %>">Cancel text</a>
    </div>

    <div class="testtt" data-controller="text">
      <a href="#" data-action="text#finishBtn" data-target="text.resp" data-id="<%= @tictac.id %>">Finish text</a>
    </div>

</div>  
