<div class="container">
	<h1 class="py-3 text-center">Tictacs 列表</h1>
	<nav>
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">中斷的時鐘</a>
	    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">完成的時鐘</a>
	  </div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
	  <div class="tab-pane chartbg fade show active border-right border-left border-bottom" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<div class="d-flex">
				<div class="py-2 col-1"></div>
				<div class="py-2 col-1">狀態</div>
				<div class="py-2 col-2">任務</div>
				<div class="py-2 col-2">中斷原因</div>
				<div class="py-2 col-3">開始時間</div>
				<div class="py-2 col-3">結束時間</div>
			</div>
			<% @tictacs_cancelled.each do |tictac| %>
				<div class="d-flex">
					<div class="py-2 col-1 text-center">
						<%= link_to cancelled_tictac_path(tictac.id) do %>
							<i class="fas fa-pencil-alt"></i>
						<% end %>
					</div>
					<div class="py-2 col-1">
						<%= tictac.status %>
					</div>
					<div class="py-2 col-2">
						<% if tictac.task %>
							<%= tictac.task.title %>
						<% else %>
							<%= "No Task" %>
						<% end %>
					</div>
					<div class="py-2 col-2">
						<%= tictac.reason %>
					</div>
					<div class="py-2 col-3">
						<%= tictac.start_at.strftime("%m/%d/%Y %I:%M%p") %>
					</div>
					<div class="py-2 col-3">
						<%= tictac.end_at.strftime("%m/%d/%Y %I:%M%p") %>
					</div>
				</div>
			<% end %>
		</div>
	  <div class="tab-pane chartbg fade border-right border-left border-bottom" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<div class="d-flex">
				<div class="py-2 col-1"></div>
				<div class="py-2 col-2">狀態</div>
				<div class="py-2 col-3">任務</div>
				<div class="py-2 col-3">開始時間</div>
				<div class="py-2 col-3">結束時間</div>
			</div>
			<% @tictacs_finished.each do |tictac| %>
				<div class="d-flex">
					<div class="py-2 col-1 text-center">
						<%= link_to finished_tictac_path(tictac.id) do %>
							<i class="fas fa-pencil-alt"></i>
						<% end %>
					</div>
					<div class="py-2 col-2">
						<%= tictac.status %>
					</div>
					<div class="py-2 col-3">
						<% if tictac.task %>
							<%= tictac.task.title %>
						<% else %>
							<%= "No Task" %>
						<% end %>
					</div>
					<div class="py-2 col-3">
						<%= tictac.start_at.strftime("%m/%d/%Y %I:%M%p") %>
					</div>
					<div class="py-2 col-3">
						<%= tictac.end_at.strftime("%m/%d/%Y %I:%M%p") %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>