<div class="tomato_bg timer_controler" data-target="tictacs.bgcolor" data-controller="tictacs">
  <div class="task_list" data-id="<%= params[:task_id] %>" data-target="tictacs.task_list">
    <h3>任務</h3>
    <p><%= @task.title %></p>
  </div>

  <div class="clock d-flex flex-column justify-content-center align-items-center">
    <div class="display d-flex justify-content-center align-items-center">
      <h1 class="display_time_left pending d-flex justify-content-center align-items-center" data-target="tictacs.show_time_left"></h1>
    </div>
    <a class='startbtn' data-time="<%= @time_setting %>" data-action="click->tictacs#start" data-target="tictacs.startbtn">
      <span><i class="fas fa-play startbtn"></i></span>
    <a>
    <a href='#' class="stopbtn d-none" data-action="click->tictacs#stop" data-target="tictacs.stopbtn" data-id="<%= @tictac.id %>">
      <span><i class="fas fa-stop fa-8x stopbtn"></i></span>
    </a>
    <a href='#' class="relaxbtn d-none" data-action="click->tictacs#relax"  data-time="300" data-target="tictacs.relaxbtn" data-id="<%= @tictac.id %>">
      <span><i class="fas fa-play fa-8x relaxbtn"></i></span>
    </a>
    <audio src="/sounds/drop-sound.mp3" class="drop_sound" data-target="tictacs.drop_sound"></audio>
    <audio src="/sounds/end-sound.mp3" class="finish_sound" data-target="tictacs.finish_sound"></audio>
  </div>
<<<<<<< HEAD
  <div class="btn-group dropleft right_nav">
    <button type="button" class="btn dropdown-toggle btn-self p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu-self dropdown-menu">
      <div class="text-center my-2">
        <%= link_to root_path  do %>
          <i class="fas fa-home fa-3x"></i>
        <% end %>
      </div>
      <div class="text-center my-2">
        <%= link_to list_tictacs_path  do %>
          <i class="fas fa-clipboard-list fa-3x"></i>
        <% end %>
      </div>
      <div class="text-center my-2">
        <%= link_to charts_path  do %>
          <i class="far fa-chart-bar fa-3x"></i>
        <% end %>
      </div>
=======
  <div class="tictac_home">
    <div class="text-center my-2">
      <%= link_to root_path  do %>
        <i class="fas fa-home fa-3x"></i>
      <% end %>
>>>>>>> submit color
    </div>
    <div class="text-center my-2">
      <%= link_to list_tictacs_path  do %>
        <i class="fas fa-clipboard-list fa-3x"></i>
      <% end %>
    </div>
    <div class="text-center my-2">
      <%= link_to charts_path  do %>
        <i class="far fa-chart-bar fa-3x"></i>
      <% end %>
    </div>
</div>
</div>