<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
    <section class="container-fluid overflow-hidden">
      <div class="row flex-nowrap">
        <%= render "shared/leftnav" %>
        <div class="main-container">
          <%= yield %>
        </div>
      </div>
    </section>

  </body>
</html>
