<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
<<<<<<< HEAD
    <div class="container min-vh-100">
=======
>>>>>>> add bg
      <%= yield %>
    <%= render "shared/footer" %>
    
    <script>
      $(document).ready(function() {
        $(".tag-select2").select2({
            tags: true,
            multiple: 'true',
            tokenSeparators: [',', ' ']
        })
      })  
      
    </script>
  </body>
</html>
