<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
 
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
    <section class="container-fluid overflow-hidden">
      <div class="row flex-nowrap">
        <% if user_signed_in? %>
         <%= render "shared/leftnav" %>
        <% end %>
        <div class="main-container">
          <%= yield %>
        </div>
      </div>
    </section>

   
    <%= render "shared/footer" %>
    
   
  </body>
</html>