<!DOCTYPE html>
<html>
  <head>
    <title>TomeowTokei</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>

  <script src="https://api.trello.com/1/client.js?key=<%= ENV['TRELLO_DEVELOPER_PUBLIC_KEY'] %>"></script>

  <body>
 
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
    <section class="container-fluid overflow-hidden">
      <div class="row flex-nowrap">
       <% if user_signed_in? %>
        <%= render "shared/leftnav" %>
       <% end %>
        <div class="main-container">
          <%= yield %>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  </body>
</html>