<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="https://api.trello.com/1/client.js?key=<%=ENV['TRELLO_DEVELOPER_PUBLIC_KEY']%>"></script>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
      <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>